<p> Posts show </p>

<h2> Post Title: <%= @post.post_title %> </h2>

<p>Post Body: <%= @post.post_description %> </p>

<p class="date">
	<% if user_signed_in? && current_user == @post.user%>
	Submitted <%= time_ago_in_words(@post.created_at) %> ago 
	<%= link_to "Edit", "/users/#{current_user.id}/categories/#{@category.id}/posts/#{@post.id}/edit"%> 

</p>

<% end %>